<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngFor ="let datos of leer.getPreguntas()">
    <ion-item>
       <ion-label>
         {{datos.pregunta}}
       </ion-label> 
       <ion-label>
        <ion-badge *ngIf="datos.contestada >=1"  color="success">¡¡¡Respuesta Acertada !!!</ion-badge>
        <ion-badge *ngIf="datos.contestada < 0"  color="danger"> {{datos.contestada}}</ion-badge>
        <ion-badge *ngIf="datos.contestada == 0"  >0</ion-badge>
       
      </ion-label>
       
     
       
       <ion-button [disabled]="comprobar(datos.contestada)" (click)= "onClick(datos)">Responder</ion-button>
       
    </ion-item>

  </ion-list>
  <ion-button (click)= "guardardo()">Guardar</ion-button>
 <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>-->
</ion-content>
